management:
  endpoints:
    web:
      exposure:
        include: "*"

server:
  port: 8081
  tomcat:
    threads:
      max: 500

spring:
  main:
    # 解决Bean重复定义问题
    allow-bean-definition-overriding: true
  application:
    name: activity-service
  profiles:
    active: dev
  servlet:
    multipart:
      #是否使用http上传
      enabled: true
      #最大请求文件的大小
      max-request-size: 10MB

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://localhost:3306/oomall?serverTimezone=GMT%2B8&useUnicode=true&characterEncoding=UTF8
    username: root
    password: 123456
    druid:
      #初始化时建立物理连接的个数
      initial-size: 3
      #最小连接池数量
      min-idle: 3
      #最大连接池数量
      max-active: 100
      #获取连接时最大等待时间
      max-wait: 60000
      filter:
        stat:
          #是否开启慢sql查询监控
          log-slow-sql: true
          #慢SQL执行时间
          slow-sql-millis: 100
      validation-query: select 1
      #filters: config
      #connection-properties: config.decrypt=true;config.decrypt.key=MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBALfa9QtUlD1QZNSn1jLCsWNFrLRph1leEdBk8oDYl2Fslsbvw+McsKLn3WYcY3Mue4litj+EsdUr+LO9dbt8MgMCAwEAAQ==

#  redis:
#    host: 101.132.164.244
#    port: 6379
#    database: 0
#    password: 123456
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.31.216:8848
        username: nacos
        password: nacos
        namespace: public
#    # Redis数据库索引（默认为0）
#    database: 0
#    #连接池最大连接数（使用负值表示没有限制）
#    lettuce:
#      pool:
#        max-active: 100
#        # 连接池中的最大空闲连接
#        max-idle: 100
#        # 连接池中的最小空闲连接
#        min-idle: 0
#        #连接池最大阻塞等待时间（使用负值表示没有限制）
#        max-wait: -1
#    # 连接超时时间（毫秒）
#    timeout: 5000
#  sql:
#    init:
#      mode: always
#      encoding: UTF-8
#      schema-locations: classpath:coupon.sql
#      data-locations: classpath:coupondata.sql
#      username: dbuser
#      password: icJzHtqe9O7qGlIod91x0KFwPdL5hzDNNOTcx9xXSNcS6AN43jWRLIxFG3rdk/L+EFLZfcETeIg+RhA3ZbcE3Q==

mybatis:
  #po对象的包
  type-aliases-package: cn.edu.xmu.oomall.activity.model.po
  #mapper.xml所在的位置
  mapper-locations: classpath*:cn.edu.xmu.privilege.mapper/*.xml
  #自动将SQL中查出来的带下划线的字段，转换为驼峰标志，再去匹配类中的属性
  configuration:
    #输出产生的SQL
    #log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true

#pagehelper分页插件配置
pagehelper:
  helper-dialect: mysql


oomall:
  activity:
    share:
      expiretime: 10000



